/*-------------------------
   Banner-Layout-2 Styles
-------------------------*/


.banner-degital-agency{
   padding: 88px 0 763px 0;
   background-image: url(../media/digital-agency-banner.png);
   background-size: cover;
   background-repeat: no-repeat;
   .degital-agency-content-wrp{
      .degital-agency-banner-title{
         h1{
            font-size: 110px;
            font-weight: 700;
            line-height: 105px;
            font-family: var(--font-primary-5);
            color: var(--color-ash);
            margin: 0;
         }
      }
      .degital-agency-banner-title-details-wrp{
         .degital-agency-banner-title-details{
            margin-bottom: 46px;
            p{
               font-size: 24px;
               font-weight: 400;
               font-family: var(--font-secondary);
               line-height: 33px;
               color: var(--color-ash);
               margin: 0;
            }
         }
         .ellipse-wrp{
            display: flex;
         }
      }
   }
}